services:
  mysql-master:
    image: mysql:8.0
    container_name: mysql-master
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: sakila
    volumes:
      - ./configs/master:/etc/mysql/conf.d
      - ./master-data:/var/lib/mysql
    restart: unless-stopped

  mysql-slave:
    image: mysql:8.0
    container_name: mysql-slave
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - ./configs/slave:/etc/mysql/conf.d
      - ./slave-data:/var/lib/mysql
    depends_on:
      - mysql-master
    restart: unless-stopped
